@model Root
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/cards.css" rel="stylesheet" />
<br />
<br />
<div class="text-center">
    @*<h2>GetAll</h2>*@
    <h1>Movies</h1>
</div>
<hr />

@if (Model.results != null)
{
    <div class="container">
        <div class="row">

            <a class="link" href="https://codepen.io/simoberny/pen/qxxOqj" target="_blank">Dark Version</a>
            @foreach (Movie root in Model.results)
            {
                <div class="movie_card" id="ave">
                    <div class="info_section">
                        <div class="movie_header">
                            <img class="locandina" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/@root.backdrop_path" />
                            <h5>@root.title</h5>
                            <p class="text align-content-md-stretch">
                                @root.overview
                            </p>
                            <h4>Popularity: @root.popularity</h4>
                                        <span class="minutes">@root.release_date</span>
                                        <p class="type">@root.original_title</p>
                           
                        </div>
                        <div class="movie_desc">
                            <div class=container>
                                <div class="row">
                                    <div class="col-md-12">

                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="blur_back ave_back"></div>
                </div>
            }

        </div>
    </div>
}
else
{
    <h1>No hay películas por mostrar</h1>
}
