@model MovieS
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/cards.css" rel="stylesheet" />
<br />
<br />
<div class="text-center">
    @*<h2>GetAll</h2>*@
    <h1>Movies Favorite</h1>
</div>
<hr />

@if (Model.Movies != null)
{
    <div class="container">
        <div class="row">

            @*<a class="link" href="https://codepen.io/simoberny/pen/qxxOqj" target="_blank">Dark Version</a>*@
            @foreach (MovieS movie in Model.Movies)
            {
                <div class="movie_card" id="ave">
                    <div class="info_section">
                        <div class="movie_header">
                            <img class="locandina" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/@movie.backdrop_path" />
                            <h5>@movie.title</h5>
                            <a class="btn btn-warning" href="@Url.Action("AddFavorite","Movie", new{IdMovie=movie.id,Favorite = false})">Quitar Favorito</a>
                            <p class="text align-content-md-stretch">
                                @movie.overview
                            </p>
                            <h4>Popularity: @movie.popularity</h4>
                                        <span class="minutes">@movie.release_date</span>
                                        <p class="type">@movie.original_title </p>
                                      
                        </div>
                        <div class="movie_desc">
                            <div class=container>
                                <div class="row">
                                    <div class="col-md-12">

                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="blur_back ave_back"></div>
                </div>
            }

        </div>
    </div>
}
else
{
    <h1>No hay películas favoritas por mostrar</h1>
}
